<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CButtonLib" version="3.0.6" targetFramework="net40" />
  <package id="GemBox.Spreadsheet" version="41.3.30.1122" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net40" />
</packages>